/* Google Fonts */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Common Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 870px;
    padding: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 20px;
}

.section-title {
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 40px;
}

hr {
    border: 1px solid #D1D1D1;
}

/* Header Part Styles */
header {
    color: #FFFFFF;
    background-color: #562EFF;
    margin-bottom: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 930px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 40px;
    margin-right: 20px;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu li {
    padding: 10px 20px;
}

.menu li a {
    color: #FFFFFF;
    text-decoration: none;
}

.profile img {
    height: 50px;
    width: 50px;
}

/* Top Player Styles */
.top-players {
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
}

/* Top Blogs Styles */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.top-blogs .section-title {
    margin: 30px 0 40px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog-thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
    margin: 6px 0;
}

.blog-info p {
    color: #9F9F9F;
    margin-top: 0;
}

.blog-info a {
    color: #562EFF;
    text-decoration: none;
}

/* Lates Course Styles */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course {
    margin: 10px;
    width: 250px;
    padding: 22px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #8080802f;
    overflow: hidden;
}

.course-banner img {
    width: 224px;
    height: 104px;
}

.coures-details {
    font-family: 'Roboto', sans-serif;
}

.course-title {
    color: #1E1E1E;
}

.course-instructor {
    color: #ED6B4F;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.filled-star {
    color: #FFC014;
}

.empty-star {
    color: #AEAEAE;
}

.rating-number {
    margin-left: 10px;
    color: #A2A2A2;
}

.duration {
    margin: 0;
    padding: 6px 8px;
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 15px;
}

/* ----------------
    Media Query
------------------ */

/* Mobile Devices */

@media only screen and (max-width: 668px) {
    .container {
        width: 100%;
        padding: 50px;
    }
    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .player {
        flex-direction: column;
    }
    .player-name {
        margin-left: 0;
    }
}

@media only screen and (min-width: 669px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}